<template>
  <v-container>
    <News
      v-bind:key="index"
      v-for="article,index in headlines"
      v-bind:title="article.title"
      v-bind:content="article.content"
      v-bind:image="article.image"
      v-bind:publishedAt="article.publishedAt"
      v-bind:url="article.url"
      v-bind:source="article.source"
    />
  </v-container>
</template>

<script>
  import moment from 'moment';
  import News from '@/components/News.vue'; 
  import { getTopHeadlines } from '@/services'; 

  export default {
    name: 'Headline',
    components: {
      News,
    },
    data() {
      return {
        headlines: []
      }
    },
    mounted() {
      getTopHeadlines()
        .then(res =>
          this.headlines = res.data.articles.map(i => {
            i.publishedAt = moment(i.publishedAt).fromNow();
            return i
          })
        )
        .catch(err => {
          console.error(err.response.data);
        })
    }
  }
</script>

<style scope>
</style>
