<template>
  <v-container class="wrapper">
    <div>
      <v-img
        :src="require('../assets/hero.svg')"
        class="my-3"
        contain
        height="200"
      />
    </div>

    <v-container class="text-center">
      <h1 class="display-2 font-weight-bold mb-3">
        Welcome to Headliner
      </h1>

      <p class="subheading font-weight-regular">
        This website will allow you to see the list of
        headline provided by 
        <a
          class="link"
          href="https://gnews.io"
          target="_blank"
        >GNews API</a>
      </p>

      <v-btn large text>
        <router-link class="link" to="/headlines" data-cy="see-headline">See Headline &gt;&gt;</router-link>
      </v-btn>
    </v-container>
  </v-container>
</template>

<script>
  export default {
    name: 'Home'
  }
</script>

<style scope>
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: black !important;
}
</style>
