<template>
  <v-card
    class="mx-auto my-4"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">{{ source.name }}</div>
        <v-list-item-title class="headline mb-4">
          <a :href="url" target="_blank">{{ title }}</a>
        </v-list-item-title>
        <v-list-item-subtitle>{{ content }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        size="100"
      >
        <v-img :src="image"/>
      </v-list-item-avatar>
    </v-list-item>

    <v-card-actions class="actions">
      <v-btn :href="url" target="_blank" text>
        See more
        <v-icon right>mdi-open-in-new</v-icon>
      </v-btn>
      <h5>{{ publishedAt }}</h5>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'News',
    props: [
      'title',
      'content',
      'url',
      'image',
      'publishedAt',
      'source'
    ]
  }
</script>

<style scope>
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: unset !important;
  }
</style>
